<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
</head>
<body>
<div ng-app="mainApp" data-ng-controller="crud_Controller" >
    <div class="" ng-init="init()">
        <div class="col-md-6" ng-style="css_form">
            <form name="empForm" novalidate >
                <div class="col-md-12 add-form">
                    <h3 class="center  ">Add Details  </h3>
                    <hr>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Company Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="CompanyName"  ng-model=" EmpModel.CompanyName" ng-required="true" ng-init="myVar = true"  >
                </div>

                <div class="col-md-3">
                    <b>Product Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="ProductName" ng-minlength="4" ng-maxlength="10" ng-model=" EmpModel.ProductName" ng-init="myVar = false">

                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Email ID :</b>
                </div>
                <div class="col-md-3" ng-pattern="emailFormat">
                    <input type="email" class="form-control"  ng-model=" EmpModel.Emailid" name="email">

                </div>

                <div class="col-md-3">
                    <b>Catagory Name :</b>
                </div>
                <div class="col-md-3">
                    <select class="form-control" ng-model="EmpModel.CategoryName" >
                        <option ng-repeat="x in categorynames" >{{x}}</option>
                    </select>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Date :</b>
                </div>
                <div class="col-md-3">
                     <input type="date"  id="datepicker" ng-model="EmpModel.DatepickerSelect">
                </div>
                <div class="col-md-9">
                    <button  type="submit" class="btn btn-primary add-btn addb" value="" ng-click="addData()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script src="angular.js"></script>
<script src="main.js"></script>
<script src="notify.js"></script>
