<!DOCTYPE html>
<html lang="en">
<link>
<meta charset="UTF-8">
<title>table</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    b {
        font-size: 16px;
    }
    .center {
        text-align: center;
        margin-bottom: 27px;
        text-transform: capitalize;
    }
    .data-with{
        width: 46% !important;
    }
    .data-notify-text{
        margin-right: 322px!important;
    }
    .thead-clr{
        background-color: #ffa0a0;
        color: white;
    }
    .data-list{
        font-style: italic;
        text-decoration: underline;
    }
    td{
        line-height: 2.6 !important;
    }
    th{
        line-height: 2.6 !important;
    }
</style>
<body>
<div ng-app="mainApp" data-ng-controller="crud_Controller" >
    <div class="" ng-init="init()">
        <h1 class="center data-list">Product Table Data List</h1>
        <div class="container col-md-12">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="col-md-6" ng-style="css_form2">
                            <form name="myForm">

                                <div class="col-md-12">
                                    <h3 class="center ">Edit Details </h3>
                                    <hr>
                                </div>
                                <p>&nbsp;</p>

                                <div class="col-md-3">
                                    <b>Company Name :</b>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="app" ng-model=" EmpModel.CompanyName" required >
                                    <!-- <span ng-if="myVar">{{myForm.app.$valid}}</span>-->
                                </div>

                                <div class="col-md-3">
                                    <b>Product Name:</b>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="app" ng-value="$index" ng-model=" EmpModel.ProductName" required >

                                </div>
                                <p>&nbsp;</p>
                                <div class="col-md-3">
                                    <b>Email ID :</b>
                                </div>
                                <div class="col-md-3" ng-pattern="emailFormat">
                                    <input type="email" class="form-control"  ng-model=" EmpModel.Emailid" required>
                                </div>

                                <div class="col-md-3">
                                    <b>Category Name :</b>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="EmpModel.CategoryName">
                                        <option ng-repeat="x in categorynames" >{{x}}</option>
                                    </select>
                                   <!-- <input type="number" class="form-control"   ng-model=" EmpModel.CategoryName" required>-->
                                </div>
                                <p>&nbsp;</p>
                                <div class="col-md-3">
                                    <b>Date :</b>
                                </div>
                                <div class="col-md-3">
                                    <input type="date"    value = {{EmpModel.DatepickerSelect}} ng-model="EmpModel.DatepickerSelect">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->

                            <button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()">Add</button>
                            <button  class="btn btn-info update-btn" value="" data-dismiss="modal"  ng-click="updateData()">Update</button>
                            <button type="submit" class="btn btn-primary cnl-btn" value=" " data-dismiss="modal"  ng-click="clearModel()">Cancel</button>

                        </div>
                    </div>
                    <!-- Modal content-->
                </div>
            </div>

        </div>

        <div class="col-md-12" ng-style="css_form_table" >
            <button class="btn btn-primary" ng-click="addNew()">ADD New Data</button>
            <br><br>
            <table border="1" style="width: 100%" class="table table-striped table-hover"  >
                <thead class="center thead-clr">
                <th> Product Id</th>
                <th>Company Name</th>
                <th>Product Name</th>
                <th>Email ID</th>
                <th>Category</th>
                <th>Date</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="Prod in EmpList track by  $index ">
                    <td>{{ Prod.Id }}</td>
                    <td>{{ Prod.CompanyName }}</td>
                    <td>{{ Prod.ProductName }}</td>
                    <td>{{ Prod.Emailid }}</td>
                    <td>{{ Prod.CategoryName }}</td>
                    <td>{{ Prod.DatepickerSelect }}</td>
                    <td class="center">
                        <i class="fa fa-pencil-square-o btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="editData(Prod)" title="Edit"></i>
                        <i class="fa fa-trash btn btn-danger" ng-click="removeRow($index)" title="Delete"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
<script src="angular.js"></script>
<script src="main.js"></script>
<script src="notify.js"></script>